@font-face {
    font-family: 'Ira';
    src: url('CassandraPersonalUseRegular-3BjG.ttf') format('truetype');
}

@font-face {
    font-family: 'Ital';
    src: url('SacrificeDemo-8Ox1B.ttf') format('truetype');
}

@font-face {
    font-family: 'Wastinger';
    src: url('Wastinger.ttf') format('truetype');
}

@font-face {
    font-family: 'Moglan';
    src: url('../FONTFILES/moglandemo/Moglan_DEMO.ttf') format('truetype');
}