@font-face {
    font-family: 'Ira';
    src: url('CassandraPersonalUseRegular-3BjG.ttf') format('truetype');
}

@font-face {
    font-family: 'Ital';
    src: url('SacrificeDemo-8Ox1B.ttf') format('truetype');
}