body {
    background-color: rgb(243, 245, 231);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(38, 35, 0, 0.6);
  border-radius: 5px;
}

.ContainerDockTop {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(253, 254, 231, 0.7);
  backdrop-filter: url(#distortion) blur(3px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 85%;
  height: 38px;
  top: 10px;
  left: 50%;
  translate: -50% 0;
  border: none;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
  margin: 0;
  z-index: 1000;
}

.NameShop {
  margin-left: 20px;
  font-family: "Ira";
  font-size: 20px;
  word-spacing: -2px;
  animation: Slideright 1s cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

.HomeDirect,
.ProductDirect,
.BlogDirect,
.ContactDirect,
.Account {
  margin-right: 30px;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: Helvetica;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: Slideright 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s both;
}

.HomeDirect:hover,
.ProductDirect:hover,
.BlogDirect:hover,
.ContactDirect:hover,
.Account:hover {
  scale: 1.1;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.rightIcons {
  margin-left: auto;
}

.CartBagButton,
.ShopBagButton {
  width: 40px;
  height: 40px;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.CartBagButton:hover,
.ShopBagButton:hover {
  scale: 1.1;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.HomeDirect {
  margin-left: 25px;
}

/* FOr Preview 1 */

.MainPreviewAbout1Display {
    position: absolute;
    top: 130px;
    left: 50%;
    translate: -50%;
    width: 87%;
    height: 400px;
    background-color: rgba(253, 254, 231, 0.7);
    box-shadow: 0 0 10px rgba(69, 79, 64, 0.7);
    border: none;
    border-radius: 25px;

    animation: SlideUp 0.5s ease-out both;
}

.AboutUsIntroH1 {
    position: absolute;
    top: 15%;
    left: 40px;
    font-weight: bolder;
    font-family: 'Wastinger';
    font-size: 55px;

    animation: SlideUp 0.5s ease-out 0.1s both;
}

.AboutusPara {
    position: absolute;
    top: 37%;
    left: 40px;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 20px;
    width: 50%;
    animation: SlideUp 0.5s ease-out 0.2s both;
}

.AboutUsImageDepth {
    position: absolute;
    background-image: url(../ImagesofPopularProduct/Models/Model2.png);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    bottom: 0;
    right: 10px;
    width: 430px;
    height: 120%;
    background-color: rgba(200, 235, 183, 0);
    border: 0px solid black;
    background-size: 100% 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 10px rgb(57, 51, 0));
    animation: SlideUp 0.5s ease-out 0.3s both;
}

.H1AboutA1 {
    position: absolute;
    top: 550px;
    left: 7%;
    font-family: Arial;
    font-size: 35px;
    animation: SlideUp 0.5s ease-out 0.3s both;
    animation-range: entry 70% cover 50%;
    animation-timeline: view();
}

.ParaAboutA1 {
    position: absolute;
    top: 605px;
    left: 7%;
    font-family: Arial;
    font-size: 20px;
    text-align: justify;
    width: 40%;
    animation: SlideUp 0.5s ease-out 0.4s both;
    animation-range: entry 70% cover 50%;
    animation-timeline: view();
}

/* Preview 2 */

.Container2A {
    position: absolute;
    top: 565px;
    height: 300px;
    right: 7%;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    width: 40%;
    background-color: rgba(253, 254, 231, 0.7);
    box-shadow: 0 0 10px rgba(38, 35, 0, 0.6);
    border-radius: 25px;
    animation: SlideUp 0.5s ease-out 0.5s both;
    animation-range: entry 70% cover 50%;
    animation-timeline: view();
}

.H1AboutA2 {
    position: absolute;
    top: 10px;
    left: 3%;
    font-family: Arial;
    font-size: 40px;
    text-align: center;
    width: 40%;
}

.ParaAboutA2 {
    position: absolute;
    top: 70px;
    left: 3%;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    width: 40%;
}

.H1AboutA3 {
    position: absolute;
    top: 10px;
    right: 3%;
    font-family: Arial;
    font-size: 40px;
    text-align: center;
    width: 40%;
}
.ParaAboutA3 {
    position: absolute;
    top: 70px;
    right: 3%;
    font-family: Arial;
    font-size: 20px;
    width: 40%;
    text-align: center;
}

.H1AboutA4 {
    position: absolute;
    bottom: 25px;
    left: 3%;
    font-family: Arial;
    font-size: 40px;
    text-align: center;
    width: 40%;
}
.ParaAboutA4 {
    position: absolute;
    bottom: 5px;
    left: -1.5%;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    width: 50%;
}

.H1AboutA5 {
    position: absolute;
    bottom: 25px;
    right: 3%;
    font-family: Arial;
    font-size: 40px;
    width: 40%;
    text-align: center;
}
.ParaAboutA5 {
    position: absolute;
    bottom: 5px;
    right: 3%;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    width: 40%;
}

/* FOR PREVIEW 2 */

.Container4A {
    position: absolute;
    top: 935px;
    left: 50%;
    translate: -50%;
    width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
    height: 630px;
    background-color: rgb(197, 197, 197);
    z-index: 100;
    
    animation: SlideUp 0.5s ease-out 0.5s both;
    animation-range: entry 30% cover 40%;
    animation-timeline: view();
}
.GridContainerB1 {
    position: absolute;
    top: 110px;
    background-color: rgba(128, 128, 128, 0);
    width: 100%;
    height: 400px;
    left: 50%;
    translate: -50%;
    border: none;
    border-radius: 20px;

    position: absolute;
    background-color: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.H1AboutB1 {
    position: absolute;
    margin: 0;
    top: 0px;
    left: 20%;
    translate: -70%;
    font-size: 200px;
    font-family: Moglan;
    
    animation: SlideUp 0.5s ease-out 0.5s both;
    animation-range: entry 30% cover 40%;
    animation-timeline: view();

}

.H1AboutB2 {
    position: absolute;
    margin: 0;
    bottom: 10px;
    right: 30%;
    translate: 70%;
    font-size: 200px;
    font-family: Moglan;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(78, 67, 57);
    

    animation: SlideUp 0.5s ease-out 0.5s both;
    animation-range: entry 10% cover 10%;
    animation-timeline: view();
}

.ProductWindowB1 {
    width: 300px;
    height: 98%;
    border: none;
    border-radius: 20px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));

    background: url(../ImagesofProductCutout/SkinlyCleanse.png);
    background-size: cover;
    background-position: 50% 100%;


    animation: AnimationUpDownRot1 5s ease-in-out both infinite;
}

.ProductWindowB2 {
    width: 300px;
    height: 98%;
    border: none;
    border-radius: 20px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)); 

    background: url(../ImagesofProductCutout/SkinlyCream.png);
    background-size: cover;
    background-position: 50% 100%;


    animation: AnimationUpDownRot2 5s 0.3s ease-in-out both infinite;
}

.ProductWindowB3 {
    width: 300px;
    height: 98%;
    border: none;
    border-radius: 20px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));

    background: url(../ImagesofProductCutout/SkinlyFacial.png);
    background-size: cover;
    background-position: 50% 100%;


    animation: AnimationUpDownRot1 5s 0.2s ease-in-out both infinite;
}

.ProductWindowB4 {
    width: 300px;
    height: 98%;
    border: none;
    border-radius: 20px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));

    background: url(../ImagesofProductCutout/SkinlyToner.png);
    background-size: cover;
    background-position: 50% 100%;


    animation: AnimationUpDownRot2 5s 0.6s ease-in-out both infinite;
}

/* FOR POSITIONS OF THE COMPANY BITCHES */
.H1AboutC1A {
    position: absolute;
    margin: 0;
    top: 30px;
    left: 50px;
    font-size: 200px;
    font-family: Moglan;

    animation: SlideUp 0.5s ease-out 0.5s both;
    animation-range: entry 70% cover 50%;
    animation-timeline: view();
}

.H1AboutC1B {
    position: absolute;
    margin: 0;
    top: 340px;
    right: 50px;
    font-size: 200px;
    font-family: Moglan;

    animation: SlideUp 0.5s ease-out 0.7s both;
    animation-range: entry 40% cover 30%;
    animation-timeline: view();
}

.Container5A {
    position: absolute;
    top: 1550px;
    left: 0;
    width: 100%;
    height: 700px;
    background: url(../ImagesofElements/BackgroundAbout.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TeamRow1 {
    position: absolute;
    top: 190px;
    left: 40%;
    translate: -70%;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.TeamRow2 {
    position: absolute;
    top: 450px;
    right: 40%;
    translate: 70%;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.CardA1 {
    background: rgba(255, 253, 253, 0.5);
    backdrop-filter: blur(10px) url(#distortion);
    width: 250px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s;

    animation: SlideUp 0.5s ease-out 0.7s both;
    animation-range: entry 40% cover 30%;
    animation-timeline: view();
}

.GoldTier {
    border: 1px solid #eed68900;
}

.PhotoFrame {
    width: 180px;
    height: 180px;
    margin: 0 auto 15px;
    border-radius: 5%;
    overflow: hidden;
    filter: drop-shadow(0 5px 10px rgba(0,0,0,0.1));
}

.PhotoFrame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.RoleText {
    font-size: 20px;
    color: #3f3f3f;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Wastinger;
    margin-bottom: 5px;
}

.NameText {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.CardA1:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

/* FOOTER */

.ContainerFooter1 {
  position: absolute;
  top: 2450px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(183, 183, 183);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* FOR BAG DISPLAY */

/* FOR BAG CHECKOUT WINDOW */
.SideWindow {
    position: fixed;
    top: 50%;
    translate: 0 -45%;
    right: -50%; /* Nakatago sa gilid */
    width: 35%;
    height: 75%;
    background: rgb(255, 251, 236, 0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    backdrop-filter: blur(10px) url(#distortion);
    border: none;
    border-radius: 10px;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
    z-index: 9999;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.H1AboutC1 {
  position: absolute;
  top: -0.5%;
  left: 5.5%;
  font-family: Wastinger;
  font-size: 35px;
}

.CloseBtn {
  position: absolute;
  top: 3%;
  right: 3%;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255, 0);
  font-size: 45px;
  border: none;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.CloseBtn:hover {
  scale: 1.1;
  text-shadow: 0 0 20px rgba(255, 0, 0, 0.7);
  color: rgba(255, 0, 0, 0.7);
}

.SideWindow.active {
    right: 4.5%;
}

.SideHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

#PurchasedListDisplay {
  position: absolute;
  top: 75px;
  left: 3%;
  width: 90%;
  height: 80%;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border: none;
}

#PurchasedListDisplay::-webkit-scrollbar {
    width: 4px;
}
#PurchasedListDisplay::-webkit-scrollbar-thumb {
    background: #f0f0f0;
    border-radius: 10px;
}

.SideFooter {
  position: absolute;
  width: 100%;
  bottom: -10px;
  left: 0;
    padding-top: 20px;
    text-align: center;
}

.FooterNote {
    font-size: 12px;
    color: #000000;
    letter-spacing: 1px;
    font-family: Moglan;
    font-size: 20px;
}


/* FOR PURCHASED LISTS */

.OrderSideCard {
  display: flex;
  height: 200px;
  width: 100%;
  margin-bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 255, 255, 0.5);
  border: none;
  border-radius: 10px;
}

.ItemThumb {
  height: 200px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ItemInfo {
  margin-left: 10px;
}

.ItemNameText, .ItemDetailsText, .ItemDateText {
  font-family: Arial;
}

.CancelBtn {
  width: 150px;
  height: 40px;
  margin-top: 30px;
  background-color: rgb(146, 146, 146);
  border: none;
  border-radius: 10px;
  font-family: Arial;
  font-weight: bolder;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.CancelBtn:hover {
  scale: 1.1;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
  background-color: rgba(255, 0, 0, 0.8);
}



/* Details Section (Right) */
.ItemDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ItemName {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.ItemDate {
    font-size: 12px;
    color: #bbb;
    margin-top: 4px;
}

/* Row for Qty, Payment, and Cost */
.ItemStats {
    display: flex;
    gap: 30px;
    padding-top: 15px;
    border-top: 1px solid #f5f5f5;
}

.StatBox {
    display: flex;
    flex-direction: column;
}

.LabelText {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999;
    margin-bottom: 5px;
}

.ValueText {
    font-size: 14px;
    font-weight: 600;
    color: #444;
}

.GoldPrice {
    color: #d4af37;
}


/* ANIMATION */

@keyframes SlideUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes AnimationMainPreviewC {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
        transform: translate(0, 40px) scale(1.1);
    }

    50% {
        opacity: 1;
        transform: translate(0, 0px) scale(1.1);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0px) scale(1);
    }
}

@keyframes AnimationUpDownRot1 {
    0% {
        transform: translate(0, -20px) rotate(-10deg);
    }

    50% {
        transform: translate(0, 20px) rotate(-10deg);
    }

    100% {
        transform: translate(0, -20px) rotate(-10deg);
    }
    
}


@keyframes AnimationUpDownRot2 {
    0% {
        transform: translate(0, -20px) rotate(10deg);
    }

    50% {
        transform: translate(0, 20px) rotate(10deg);
    }

    100% {
        transform: translate(0, -20px) rotate(10deg);
    }
    
}

