.PaymentWindow {
  display: block;
  position: fixed;
  width: 60%;
  height: 100%;
  left: 0;
  background-color: rgba(178, 186, 150, 0);
}

.TextPay1H1 {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  top: 10px;
  margin: 0;
  left: 13px;
}

.QuantityWindowMain {
  position: fixed;
  top: 195px;
  left: 15px;
  height: 35px;
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  justify-content: center;
  scale: 0.9;
  gap: 5px;
}

.QuantityDisplayMain {
  font-family: Arial;
  font-size: 22px;
  text-align: center;
  justify-content: center;
}

.CheckoutName {
  position: absolute;
  margin: 0;
  top: 15px;
  left: 20px;
  font-family: Arial;
}

.AddressWindow {
  position: fixed;
  top: 55px;
  left: 10px;
  width: 58%;
  height: 20%;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.addressNamee {
  position: absolute;
  top: 10px;
  left: 15px;
  margin: 0;
  font-family: Arial;
  font-size: 20px;
  font-weight: 100;
}

.AddressInputMain {
  position: absolute;
  top: 40px;
  left: 10px;
  margin: 0;
  font-family: Arial;
  font-size: 20px;
  border: none;
  width: 95%;
  height: 30%;
  font-weight: 100;
  background-color: rgba(255, 255, 255, 0);
}

.OtherPayWindow1 {
  position: fixed;
  width: 58%;
  height: 60%;
  bottom: 20px;
  left: 10px;
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.PaymentOptionButtonMain {
  position: fixed;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: Arial;
  font-weight: 700;
  top: 195px;
  right: 42%;
  width: 23%;
  height: 8%;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.PaymentOptionButtonMain:hover {
  scale: 1.1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.PaymentOptionText {
  position: absolute;
  top: 12px;
  left: 10px;
  margin: 0;
  font-family: Arial;
  font-weight: 100;
  font-size: 20px;
}

.PaymentOpMain {
  position: absolute;
  width: 100px;
  height: 10px;
  top: 500px;
  right: 10px;
  margin: 0;
}

.PaymentOptionsMainSel {
  position: absolute;
  bottom: 65px;
  right: 10px;
  display: grid;
  grid-template-row: 10px 10px 10px;
  row-gap: 10px;
  width: 217px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 10px;
  box-shadow: 0 0 10px rgba(126, 126, 126, 0.5);
  animation: OpenPaymentUp 0.5s 2s forwards;
}

.PaymentOption1,
.PaymentOption2,
.PaymentOption3 {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-family: Arial;
  font-weight: 700;
}

.PaymentOption1:hover,
.PaymentOption2:hover,
.PaymentOption3:hover {
  scale: 1.1;
}

.CheckoutButton {
  position: absolute;
  left: 10px;
  width: 95%;
  height: 40px;
  bottom: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  font-family: Arial;
  font-weight: 100;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.MinusQuantityMain,
.AddQuantityMain {
  width: 30px;
  height: auto;
  margin: 3px;
  border: none;
  background-color: rgb(255, 255, 255, 0);
  font-size: 25px;
  font-family: sans-serif;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.MinusQuantityMain:hover,
.AddQuantityMain:hover {
  scale: 1.05;
}

.ProductSelectedTextCheck {
  position: absolute;
  bottom: 130px;
  left: 10px;
  font-family: Arial;
  font-weight: 100;
  font-size: 20px;
}

.ProductCostTextCheck {
  position: absolute;
  bottom: 105px;
  left: 10px;
  font-family: Arial;
  font-weight: 100;
  font-size: 20px;
}

.ProductShippingFeeTextCheck {
  position: absolute;
  bottom: 80px;
  left: 10px;
  font-family: Arial;
  font-weight: 100;
  font-size: 20px;
}

.ProductTotalCostTextCheck {
  position: absolute;
  bottom: 45px;
  left: 10px;
  font-family: Arial;
  font-weight: 100;
  font-size: 25px;
}

/* FOR ANIMATIONS */

@keyframes OpenPaymentUp {
  0% {
    display: none;
  }
  1% {
    transform: translate(30px, -70px) scaleX(0.3);
    opacity: 0;
    display: grid;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  100% {
    transform: translate(0px, 0px) scaleX(1);
    opacity: 1;
    display: grid;
  }
}

@keyframes ClosePaymentDown {
  0% {
    transform: translate(0px 0px) scaleX(1);
    opacity: 1;
    display: grid;
    animation-timing-function: cubic-bezier(1.275, 0.885, 0.32, 0.175);
  }
  99% {
    transform: translate(30px, -70px) scaleX(0.5) scaleY(0.1);
    opacity: 0;
    display: grid;
  }
  100% {
    display: none;
  }
}

@keyframes OpeningPaymentInfoHideElement {
    0% {
        opacity: 1;
        display: block;
    }
    99% {
        opacity: 0;
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes SlideOpenPaymentWindow {
    0% {
        opacity: 0;
        display: none;
    }
    1% {
        opacity: 0;
        display: block;
    }
    100% {
        opacity: 1;
        display: block;
    }
}