.PaymentWindow {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 50%;
  translate: -50%;
  background-color: rgba(178, 186, 150, 0);
}

.TextPay1H1 {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  top: 10px;
  margin: 0;
  left: 13px;
}

.QuantityWindowMain {
  position: fixed;
  top: 195px;
  left: 15px;
  height: 35px;
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  justify-content: center;
  scale: 0.9;
  gap: 5px;
}

.QuantityDisplayMain {
  font-family: Arial;
  font-size: 22px;
  text-align: center;
  justify-content: center;
}

.CheckoutName {
  position: absolute;
  margin: 0;
  top: 15px;
  left: 20px;
  font-family: Arial;
}

.AddressWindow {
  position: absolute;
  top: 55px;
  left: 10px;
  width: 96%;
  height: 20%;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.addressNamee {
  position: absolute;
  top: 10px;
  left: 15px;
  margin: 0;
  font-family: Arial;
  font-size: 20px;
  font-weight: 100;
}

.AddressInputMain {
  position: absolute;
  top: 40px;
  left: 10px;
  margin: 0;
  font-family: Arial;
  font-size: 20px;
  border: none;
  width: 95%;
  height: 30%;
  font-weight: 100;
  background-color: rgba(255, 255, 255, 0);
}

.OtherPayWindow1 {
  position: absolute;
  width: 96%;
  height: 60%;
  bottom: 20px;
  left: 10px;
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.PaymentOptionButtonMain {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: Arial;
  font-weight: 700;
  top: 36px;
  right: 10px;
  width: 40%;
  height: 13%;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.PaymentOptionButtonMain:hover {
  scale: 1.1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.PaymentOptionText {
  position: absolute;
  top: 12px;
  left: 10px;
  margin: 0;
  font-family: Arial;
  font-weight: 100;
  font-size: 20px;
}

.PaymentOpMain {
  position: absolute;
  width: 100px;
  height: 10px;
  top: 500px;
  right: 10px;
  margin: 0;
}

.PaymentOptionsMainSel {
  position: absolute;
  bottom: 65px;
  right: 10px;
  display: grid;
  grid-template-row: 10px 10px 10px;
  row-gap: 10px;
  width: 217px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 10px;
  box-shadow: 0 0 10px rgba(126, 126, 126, 0.5);
  animation: OpenPaymentUp 0.5s 2s forwards;
}

.PaymentOption1,
.PaymentOption2,
.PaymentOption3 {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-family: Arial;
  font-weight: 700;
}

.PaymentOption1:hover,
.PaymentOption2:hover,
.PaymentOption3:hover {
  scale: 1.1;
}

.CheckoutButton {
  position: absolute;
  left: 10px;
  width: 98%;
  height: 40px;
  bottom: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  font-family: Arial;
  font-weight: 100;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.CheckoutButton:hover {
    scale: 1.01;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.MinusQuantityMain,
.AddQuantityMain {
  width: 30px;
  height: auto;
  margin: 3px;
  border: none;
  background-color: rgb(255, 255, 255, 0);
  font-size: 25px;
  font-family: sans-serif;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.MinusQuantityMain:hover,
.AddQuantityMain:hover {
  scale: 1.05;
}

.ProductSelectedTextCheck {
  position: absolute;
  bottom: 130px;
  left: 10px;
  font-family: Arial;
  font-weight: 100;
  font-size: 20px;
}

.ProductCostTextCheck {
  position: absolute;
  bottom: 105px;
  left: 10px;
  font-family: Arial;
  font-weight: 100;
  font-size: 20px;
}

.ProductShippingFeeTextCheck {
  position: absolute;
  bottom: 80px;
  left: 10px;
  font-family: Arial;
  font-weight: 100;
  font-size: 20px;
}

.ProductTotalCostTextCheck {
  position: absolute;
  bottom: 45px;
  left: 10px;
  font-family: Arial;
  font-weight: 100;
  font-size: 25px;
}

/* For bag checking verification */

.AddedtoCartCheckWindow {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 99;
    width: 500px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: url(#distortion) blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    opacity: 0;
}

.AddedtoBagIMG {
    position: absolute;
    top: 25px;
    left: 35%;
    width: 150px;
    height: 150px;
    animation: animationCompleteBuy3 0.5s ease-out;
    z-index: 10;
}

.AddedtoBagH1 {
    position: absolute;
    bottom: 40px;
    font-family: Arial;
    font-size: 25px;
    text-align: center;
    width: 100%;
}

.AddedtoBagShineIMG {
    position: absolute;
    top: 25px;
    left: 35%;
    width: 150px;
    height: 150px;
    opacity: 0;
    z-index: 11;
}

/* FOR ANIMATIONS */

@keyframes OpenPaymentUp {
  0% {
    display: none;
  }
  1% {
    transform: translate(30px, -70px) scaleX(0.3);
    opacity: 0;
    display: grid;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  100% {
    transform: translate(0px, 0px) scaleX(1);
    opacity: 1;
    display: grid;
  }
}

@keyframes ClosePaymentDown {
  0% {
    transform: translate(0px 0px) scaleX(1);
    opacity: 1;
    display: grid;
    animation-timing-function: cubic-bezier(1.275, 0.885, 0.32, 0.175);
  }
  99% {
    transform: translate(30px, -70px) scaleX(0.5) scaleY(0.1);
    opacity: 0;
    display: grid;
  }
  100% {
    display: none;
  }
}

@keyframes OpeningPaymentInfoHideElement {
    0% {
        opacity: 1;
        display: block;
    }
    99% {
        opacity: 0;
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes SlideOpenPaymentWindow {
    0% {
        opacity: 0;
        display: none;
    }
    1% {
        opacity: 0;
        transform: translateX(-20px);
        display: block;
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
        display: block;
    }
}

@keyframes ClosePaymentWindow {
    0% {
        opacity: 1;
        transform: translateX(0px);
        display: block;
        animation-timing-function: ease-out;
    }
    99% {
        opacity: 0;
        transform: translateX(-20px);
        display: block;
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 0;
        transform: translateX(-20px);
        display: none;
    }
}

@keyframes WidthChanges {
    0% {
        width: 60%;
        height: 450px;
    }

    100% {
        width: 60%;
        height: 450px;
    }
}

/* for animation of the thing */

@keyframes animationCompleteBuy {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, 20px);
    }

    50% {
        transform: translate(0, -20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes animationCompleteBuy2 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translate(0, -20x) scaleX(0.8);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 2.275);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes animationCompleteBuy3 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translate(0, -5px);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes MovetoDown {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }

    50% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(30px);
        opacity: 0;
    }
}